<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.oa.business.com.example.asset.dao.AssetApplyMapper" >
  <resultMap id="BaseResultMap" type="com.fintech.oa.business.com.example.asset.po.AssetApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="asset_apply_type" property="assetApplyType" jdbcType="VARCHAR" />
    <result column="asset_apply_reason" property="assetApplyReason" jdbcType="VARCHAR" />
    <result column="asset_apply_staff_code" property="assetApplyStaffCode" jdbcType="VARCHAR" />
    <result column="asset_apply_staff_name" property="assetApplyStaffName" jdbcType="VARCHAR" />
    <result column="asset_total_amount" property="assetTotalAmount" jdbcType="DECIMAL" />
    <result column="asset_underwrite_status" property="assetUnderwriteStatus" jdbcType="VARCHAR" />
    <result column="asset_submit_date" property="assetSubmitDate" jdbcType="TIMESTAMP" />
    <result column="asset_deal_date" property="assetDealDate" jdbcType="TIMESTAMP" />
    <result column="asset_execute_id" property="assetExecuteId" jdbcType="VARCHAR" />
    <result column="asset_staff_code" property="assetStaffCode" jdbcType="VARCHAR" />
    <result column="insert_time_for_his" property="insertTimeForHis" jdbcType="TIMESTAMP" />
    <result column="operate_time_for_his" property="operateTimeForHis" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, asset_apply_type, asset_apply_reason, asset_apply_staff_code, asset_apply_staff_name, 
    asset_total_amount, asset_underwrite_status, asset_submit_date, asset_deal_date, 
    asset_execute_id, asset_staff_code, insert_time_for_his, operate_time_for_his
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ass_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ass_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fintech.oa.business.com.example.asset.po.AssetApply" >
    insert into t_ass_apply (id, asset_apply_type, asset_apply_reason, 
      asset_apply_staff_code, asset_apply_staff_name, 
      asset_total_amount, asset_underwrite_status, 
      asset_submit_date, asset_deal_date, asset_execute_id, 
      asset_staff_code, insert_time_for_his, operate_time_for_his
      )
    values (#{id,jdbcType=INTEGER}, #{assetApplyType,jdbcType=VARCHAR}, #{assetApplyReason,jdbcType=VARCHAR}, 
      #{assetApplyStaffCode,jdbcType=VARCHAR}, #{assetApplyStaffName,jdbcType=VARCHAR}, 
      #{assetTotalAmount,jdbcType=DECIMAL}, #{assetUnderwriteStatus,jdbcType=VARCHAR}, 
      #{assetSubmitDate,jdbcType=TIMESTAMP}, #{assetDealDate,jdbcType=TIMESTAMP}, #{assetExecuteId,jdbcType=VARCHAR}, 
      #{assetStaffCode,jdbcType=VARCHAR}, #{insertTimeForHis,jdbcType=TIMESTAMP}, #{operateTimeForHis,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fintech.oa.business.com.example.asset.po.AssetApply" >
    insert into t_ass_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assetApplyType != null" >
        asset_apply_type,
      </if>
      <if test="assetApplyReason != null" >
        asset_apply_reason,
      </if>
      <if test="assetApplyStaffCode != null" >
        asset_apply_staff_code,
      </if>
      <if test="assetApplyStaffName != null" >
        asset_apply_staff_name,
      </if>
      <if test="assetTotalAmount != null" >
        asset_total_amount,
      </if>
      <if test="assetUnderwriteStatus != null" >
        asset_underwrite_status,
      </if>
      <if test="assetSubmitDate != null" >
        asset_submit_date,
      </if>
      <if test="assetDealDate != null" >
        asset_deal_date,
      </if>
      <if test="assetExecuteId != null" >
        asset_execute_id,
      </if>
      <if test="assetStaffCode != null" >
        asset_staff_code,
      </if>
      <if test="insertTimeForHis != null" >
        insert_time_for_his,
      </if>
      <if test="operateTimeForHis != null" >
        operate_time_for_his,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetApplyType != null" >
        #{assetApplyType,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyReason != null" >
        #{assetApplyReason,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyStaffCode != null" >
        #{assetApplyStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyStaffName != null" >
        #{assetApplyStaffName,jdbcType=VARCHAR},
      </if>
      <if test="assetTotalAmount != null" >
        #{assetTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="assetUnderwriteStatus != null" >
        #{assetUnderwriteStatus,jdbcType=VARCHAR},
      </if>
      <if test="assetSubmitDate != null" >
        #{assetSubmitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetDealDate != null" >
        #{assetDealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetExecuteId != null" >
        #{assetExecuteId,jdbcType=VARCHAR},
      </if>
      <if test="assetStaffCode != null" >
        #{assetStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="insertTimeForHis != null" >
        #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fintech.oa.business.com.example.asset.po.AssetApply" >
    update t_ass_apply
    <set >
      <if test="assetApplyType != null" >
        asset_apply_type = #{assetApplyType,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyReason != null" >
        asset_apply_reason = #{assetApplyReason,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyStaffCode != null" >
        asset_apply_staff_code = #{assetApplyStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="assetApplyStaffName != null" >
        asset_apply_staff_name = #{assetApplyStaffName,jdbcType=VARCHAR},
      </if>
      <if test="assetTotalAmount != null" >
        asset_total_amount = #{assetTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="assetUnderwriteStatus != null" >
        asset_underwrite_status = #{assetUnderwriteStatus,jdbcType=VARCHAR},
      </if>
      <if test="assetSubmitDate != null" >
        asset_submit_date = #{assetSubmitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetDealDate != null" >
        asset_deal_date = #{assetDealDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetExecuteId != null" >
        asset_execute_id = #{assetExecuteId,jdbcType=VARCHAR},
      </if>
      <if test="assetStaffCode != null" >
        asset_staff_code = #{assetStaffCode,jdbcType=VARCHAR},
      </if>
      <if test="insertTimeForHis != null" >
        insert_time_for_his = #{insertTimeForHis,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTimeForHis != null" >
        operate_time_for_his = #{operateTimeForHis,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fintech.oa.business.com.example.asset.po.AssetApply" >
    update t_ass_apply
    set asset_apply_type = #{assetApplyType,jdbcType=VARCHAR},
      asset_apply_reason = #{assetApplyReason,jdbcType=VARCHAR},
      asset_apply_staff_code = #{assetApplyStaffCode,jdbcType=VARCHAR},
      asset_apply_staff_name = #{assetApplyStaffName,jdbcType=VARCHAR},
      asset_total_amount = #{assetTotalAmount,jdbcType=DECIMAL},
      asset_underwrite_status = #{assetUnderwriteStatus,jdbcType=VARCHAR},
      asset_submit_date = #{assetSubmitDate,jdbcType=TIMESTAMP},
      asset_deal_date = #{assetDealDate,jdbcType=TIMESTAMP},
      asset_execute_id = #{assetExecuteId,jdbcType=VARCHAR},
      asset_staff_code = #{assetStaffCode,jdbcType=VARCHAR},
      insert_time_for_his = #{insertTimeForHis,jdbcType=TIMESTAMP},
      operate_time_for_his = #{operateTimeForHis,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>